---
---

@import "jekyll-theme-minimal";

header p {
  line-height: 2;
  margin-bottom: 20px;
}

header .view {
  margin-top: 30px;
  clear: both;
}

header .credits {
  margin-top: 40px;
  clear: both;
}

.view + .credits,
.credits {
  padding-top: 20px;
}
